# Backend Environment Variables
SECRET_KEY=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
SQLALCHEMY_DATABASE_URI=
GEMINI_API_KEY=
GEMINI_MODEL=
MAX_TITLE_LENGTH=
MIN_TITLE_LENGTH=
MAX_DESC_LENGTH=
MIN_DESC_LENGTH=
PORT=
CORS_ORIGINS=

# Frontend Environment Variables
VITE_API_URL=
