# Backend Environment Variables
SECRET_KEY=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
SQLALCHEMY_DATABASE_URI=
AI_PROVIDER=groq
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b
MAX_TITLE_LENGTH=
MIN_TITLE_LENGTH=
MAX_DESC_LENGTH=
MIN_DESC_LENGTH=
PORT=
CORS_ORIGINS=

# Frontend Environment Variables
VITE_API_URL=
